div.buttons {
	margin: 0;
	padding: 0;
	border-left: 1px solid limegreen;
	float: right;
	width: 15%;
	box-sizing: border-box;
    height: 100vh;
    overflow: auto;
}

button {
    margin: 0 auto;
    font-size: medium;
    width: 80%;
    color: black;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    cursor: pointer;
}

button:hover {
    color: limegreen;
}

ul.buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

button.scope_cmd {
	font-size: 24px;
	margin: 2%;
	height: 50px;
	width: 44%;
}
