div.center {
	margin: 0;
	padding: 0;
    width: 70%;
    box-sizing: border-box;
	float: left;
    height: 100vh;
    overflow: auto;
}

div.nougat {
	margin: 0;
	padding: 0;
    width: 100%;
    box-sizing: border-box;
	float: left;
    height: 80%;
    overflow: scroll;
}

div.message {
	margin: 0;
	padding: 0;
    width: 100%;
	border-top: 1px solid limegreen;
    box-sizing: border-box;
	float: left;
    height: 20%;
    overflow: scroll;
    /*resize: vertical;*/
}

p.message {
	white-space: nowrap;
	padding-left: 1%;
	font-size: small;
{
