/* applies to everything */
.window {
  background-color: white;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0;
}

/* applies to header */
.row {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 5%;
  width: 100%;
  overflow: auto;
}

/* applies to nav, content, and buttons */
.column {
  text-align: center;
  box-sizing: border-box;
  float: left;
  height: 95%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0 auto;
  overflow-y: auto;
}

/* applies nav for current page */
.active {
  background-color: aqua;
}

.name_cell {
  width: 20%;
}

.bin_cell {
  width: 20%;
}

.dec_cell {
  width: 10%;
}

.hex_cell {
  width: 10%;
}

.def_cell {
  width: 40%;
}

/* hides cells for position, width, and script path */
.pos_cell, .width_cell, .hidden {
    display: none;
    width: 0;
}