body {
    padding: 0;
    margin: 0;
}

pre {
    text-align: left;
    margin: 0 auto;
    padding: 1%;
}

ul {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    list-style-type: none; /* removes bullets */
}

ul li a {
    display: block;
    font-size: large;
    text-decoration: none; /* remove underline */
    color: black; /* remove purple visited */
}

button {
    cursor: pointer;
}

button:hover {
    background-color: aqua;
    /*color: violet;*/

}

table {
    width: 100%;
}

input {
    width: 100%;
}

input:focus {
	background: aqua;
}