table.scan_chain {
	width: 100%;
	font-size: small;
}

table.scan_chain td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	whitespace: nowrap;
	border-bottom: 1px solid lightgray;
	padding: 2px;
	text-align: left;
}

table.scan_chain td:hover {
	overflow: visible;
	word-wrap: break-word;
}

table.scan_chain td.name_col {
	width: 7%;
}

table.scan_chain td.val_col {
	width: 5%;
}

table.scan_chain td.def_col {
	width: 30%;
}

table.scan_chain tr:hover {
	background-color: lightgray;
}

input {
	autocomplete: off;
}

input[type=text],
input[type=number]{
	padding: 5px;
	margin: 5px;
	width: 80%;
}

input[type=text]:focus, 
input[type=number]:focus {
	background: limegreen;
}

input[type=submit], 
input[type=reset],
input[type=button] {
	cursor: pointer;
}

input[type=submit]:hover, 
input[type=reset]:hover,
input[type=button]:hover {
	color: limegreen;
}

* {
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: bold;
	color: black;
	border-bottom: 1px solid limegreen;
}

h3 {
	font-weight: bold;
	color: black;
	/*border-bottom: 1px solid limegreen;
	border-width: 100%;*/
}

hr {
	display: block;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	border-style: inset;
	border-color: limegreen;
	border-width: 2px;
}

.alert {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    z-index: 25;
    bottom: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
